<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>아 머리아파</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.slim.js" integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="background-color:grey; margin:auto;">
                    <form method='get' action="/guess">
                        <input type="text" class="plain_text">
                    </form>
                    <h3>로 N행시 해보겠습니다.</h3>
                    <button class="submit">시작!</button>
                </div>
            </div>
        </div>
    </body>
</html>
<script>
    $(".submit").on("click", () => {
        var text = $(".plain_text").val();
        console.log(text);
    })
</script>